proyecto_fase1/EDDPrueba/WebApplication1/Service References/webServicePrueba/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_setUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:setUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_setUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:setUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsuarios" />
  </wsdl:message>
  <wsdl:message name="IService1_getUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_invocarGrafo_InputMessage">
    <wsdl:part name="parameters" element="tns:invocarGrafo" />
  </wsdl:message>
  <wsdl:message name="IService1_invocarGrafo_OutputMessage">
    <wsdl:part name="parameters" element="tns:invocarGrafoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarContrasenia_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarContrasenia" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarContrasenia_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarContraseniaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarCorreo" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarEstad_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarEstad" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarEstad_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarEstadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_buscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_buscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarJuegos_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarJuegos" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarJuegos_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarJuegosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarenTablero_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarenTablero" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarenTablero_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarenTableroResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_recorrerFila_InputMessage">
    <wsdl:part name="parameters" element="tns:recorrerFila" />
  </wsdl:message>
  <wsdl:message name="IService1_recorrerFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:recorrerFilaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_recorrerCol_InputMessage">
    <wsdl:part name="parameters" element="tns:recorrerCol" />
  </wsdl:message>
  <wsdl:message name="IService1_recorrerCol_OutputMessage">
    <wsdl:part name="parameters" element="tns:recorrerColResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoMatriz_InputMessage">
    <wsdl:part name="parameters" element="tns:grafoMatriz" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoMatriz_OutputMessage">
    <wsdl:part name="parameters" element="tns:grafoMatrizResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPieza_InputMessage">
    <wsdl:part name="parameters" element="tns:getPieza" />
  </wsdl:message>
  <wsdl:message name="IService1_getPieza_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPiezaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertParametro_InputMessage">
    <wsdl:part name="parameters" element="tns:insertParametro" />
  </wsdl:message>
  <wsdl:message name="IService1_insertParametro_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertParametroResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPJ_InputMessage">
    <wsdl:part name="parameters" element="tns:getPJ" />
  </wsdl:message>
  <wsdl:message name="IService1_getPJ_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPJResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarenTableroD_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarenTableroD" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarenTableroD_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarenTableroDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoDestruct_InputMessage">
    <wsdl:part name="parameters" element="tns:grafoDestruct" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoDestruct_OutputMessage">
    <wsdl:part name="parameters" element="tns:grafoDestructResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:grafoUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:grafoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_crearMatriz_InputMessage">
    <wsdl:part name="parameters" element="tns:crearMatriz" />
  </wsdl:message>
  <wsdl:message name="IService1_crearMatriz_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearMatrizResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarMatriz_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMatriz" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarMatriz_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMatrizResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_crearMatrizD_InputMessage">
    <wsdl:part name="parameters" element="tns:crearMatrizD" />
  </wsdl:message>
  <wsdl:message name="IService1_crearMatrizD_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearMatrizDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarMatrizD_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMatrizD" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarMatrizD_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMatrizDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_matrizVacia_InputMessage">
    <wsdl:part name="parameters" element="tns:matrizVacia" />
  </wsdl:message>
  <wsdl:message name="IService1_matrizVacia_OutputMessage">
    <wsdl:part name="parameters" element="tns:matrizVaciaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ArbolEspejo_InputMessage">
    <wsdl:part name="parameters" element="tns:ArbolEspejo" />
  </wsdl:message>
  <wsdl:message name="IService1_ArbolEspejo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArbolEspejoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modNickO_InputMessage">
    <wsdl:part name="parameters" element="tns:modNickO" />
  </wsdl:message>
  <wsdl:message name="IService1_modNickO_OutputMessage">
    <wsdl:part name="parameters" element="tns:modNickOResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modDesp_InputMessage">
    <wsdl:part name="parameters" element="tns:modDesp" />
  </wsdl:message>
  <wsdl:message name="IService1_modDesp_OutputMessage">
    <wsdl:part name="parameters" element="tns:modDespResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modSob_InputMessage">
    <wsdl:part name="parameters" element="tns:modSob" />
  </wsdl:message>
  <wsdl:message name="IService1_modSob_OutputMessage">
    <wsdl:part name="parameters" element="tns:modSobResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modDest_InputMessage">
    <wsdl:part name="parameters" element="tns:modDest" />
  </wsdl:message>
  <wsdl:message name="IService1_modDest_OutputMessage">
    <wsdl:part name="parameters" element="tns:modDestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modgana_InputMessage">
    <wsdl:part name="parameters" element="tns:modgana" />
  </wsdl:message>
  <wsdl:message name="IService1_modgana_OutputMessage">
    <wsdl:part name="parameters" element="tns:modganaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarJuego" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoTopWin_InputMessage">
    <wsdl:part name="parameters" element="tns:grafoTopWin" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoTopWin_OutputMessage">
    <wsdl:part name="parameters" element="tns:grafoTopWinResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoTopDest_InputMessage">
    <wsdl:part name="parameters" element="tns:grafoTopDest" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoTopDest_OutputMessage">
    <wsdl:part name="parameters" element="tns:grafoTopDestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarPieza_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarPieza" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarPieza_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarPiezaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarContacto_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarContacto" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarContacto_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarContactoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoContactos_InputMessage">
    <wsdl:part name="parameters" element="tns:grafoContactos" />
  </wsdl:message>
  <wsdl:message name="IService1_grafoContactos_OutputMessage">
    <wsdl:part name="parameters" element="tns:grafoContactosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TablaDispersa_InputMessage">
    <wsdl:part name="parameters" element="tns:TablaDispersa" />
  </wsdl:message>
  <wsdl:message name="IService1_TablaDispersa_OutputMessage">
    <wsdl:part name="parameters" element="tns:TablaDispersaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarHistoria_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarHistoria" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarHistoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarHistoriaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/setUsuario" message="tns:IService1_setUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/setUsuarioResponse" message="tns:IService1_setUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUsuarios" message="tns:IService1_getUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUsuariosResponse" message="tns:IService1_getUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="invocarGrafo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/invocarGrafo" message="tns:IService1_invocarGrafo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/invocarGrafoResponse" message="tns:IService1_invocarGrafo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/eliminarUsuario" message="tns:IService1_eliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/eliminarUsuarioResponse" message="tns:IService1_eliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modificarUsuario" message="tns:IService1_modificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modificarUsuarioResponse" message="tns:IService1_modificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarContrasenia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modificarContrasenia" message="tns:IService1_modificarContrasenia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modificarContraseniaResponse" message="tns:IService1_modificarContrasenia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modificarCorreo" message="tns:IService1_modificarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modificarCorreoResponse" message="tns:IService1_modificarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarEstad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modificarEstad" message="tns:IService1_modificarEstad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modificarEstadResponse" message="tns:IService1_modificarEstad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/buscarUsuario" message="tns:IService1_buscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/buscarUsuarioResponse" message="tns:IService1_buscarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarJuegos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertarJuegos" message="tns:IService1_insertarJuegos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertarJuegosResponse" message="tns:IService1_insertarJuegos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarenTablero">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertarenTablero" message="tns:IService1_insertarenTablero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertarenTableroResponse" message="tns:IService1_insertarenTablero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recorrerFila">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/recorrerFila" message="tns:IService1_recorrerFila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/recorrerFilaResponse" message="tns:IService1_recorrerFila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recorrerCol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/recorrerCol" message="tns:IService1_recorrerCol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/recorrerColResponse" message="tns:IService1_recorrerCol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="grafoMatriz">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/grafoMatriz" message="tns:IService1_grafoMatriz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/grafoMatrizResponse" message="tns:IService1_grafoMatriz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPieza">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPieza" message="tns:IService1_getPieza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPiezaResponse" message="tns:IService1_getPieza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertParametro">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertParametro" message="tns:IService1_insertParametro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertParametroResponse" message="tns:IService1_insertParametro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPJ">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPJ" message="tns:IService1_getPJ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPJResponse" message="tns:IService1_getPJ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarenTableroD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertarenTableroD" message="tns:IService1_insertarenTableroD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertarenTableroDResponse" message="tns:IService1_insertarenTableroD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="grafoDestruct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/grafoDestruct" message="tns:IService1_grafoDestruct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/grafoDestructResponse" message="tns:IService1_grafoDestruct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="grafoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/grafoUsuario" message="tns:IService1_grafoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/grafoUsuarioResponse" message="tns:IService1_grafoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearMatriz">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/crearMatriz" message="tns:IService1_crearMatriz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/crearMatrizResponse" message="tns:IService1_crearMatriz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarMatriz">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/eliminarMatriz" message="tns:IService1_eliminarMatriz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/eliminarMatrizResponse" message="tns:IService1_eliminarMatriz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearMatrizD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/crearMatrizD" message="tns:IService1_crearMatrizD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/crearMatrizDResponse" message="tns:IService1_crearMatrizD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarMatrizD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/eliminarMatrizD" message="tns:IService1_eliminarMatrizD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/eliminarMatrizDResponse" message="tns:IService1_eliminarMatrizD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="matrizVacia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/matrizVacia" message="tns:IService1_matrizVacia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/matrizVaciaResponse" message="tns:IService1_matrizVacia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArbolEspejo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ArbolEspejo" message="tns:IService1_ArbolEspejo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ArbolEspejoResponse" message="tns:IService1_ArbolEspejo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modNickO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modNickO" message="tns:IService1_modNickO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modNickOResponse" message="tns:IService1_modNickO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modDesp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modDesp" message="tns:IService1_modDesp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modDespResponse" message="tns:IService1_modDesp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modSob">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modSob" message="tns:IService1_modSob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modSobResponse" message="tns:IService1_modSob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modDest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modDest" message="tns:IService1_modDest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modDestResponse" message="tns:IService1_modDest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modgana">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modgana" message="tns:IService1_modgana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modganaResponse" message="tns:IService1_modgana_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/eliminarJuego" message="tns:IService1_eliminarJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/eliminarJuegoResponse" message="tns:IService1_eliminarJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="grafoTopWin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/grafoTopWin" message="tns:IService1_grafoTopWin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/grafoTopWinResponse" message="tns:IService1_grafoTopWin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="grafoTopDest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/grafoTopDest" message="tns:IService1_grafoTopDest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/grafoTopDestResponse" message="tns:IService1_grafoTopDest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarPieza">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/eliminarPieza" message="tns:IService1_eliminarPieza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/eliminarPiezaResponse" message="tns:IService1_eliminarPieza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarContacto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertarContacto" message="tns:IService1_insertarContacto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertarContactoResponse" message="tns:IService1_insertarContacto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="grafoContactos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/grafoContactos" message="tns:IService1_grafoContactos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/grafoContactosResponse" message="tns:IService1_grafoContactos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TablaDispersa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TablaDispersa" message="tns:IService1_TablaDispersa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TablaDispersaResponse" message="tns:IService1_TablaDispersa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarHistoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertarHistoria" message="tns:IService1_insertarHistoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertarHistoriaResponse" message="tns:IService1_insertarHistoria_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/setUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuarios">
      <soap:operation soapAction="http://tempuri.org/IService1/getUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invocarGrafo">
      <soap:operation soapAction="http://tempuri.org/IService1/invocarGrafo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/modificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarContrasenia">
      <soap:operation soapAction="http://tempuri.org/IService1/modificarContrasenia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarCorreo">
      <soap:operation soapAction="http://tempuri.org/IService1/modificarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarEstad">
      <soap:operation soapAction="http://tempuri.org/IService1/modificarEstad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/buscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarJuegos">
      <soap:operation soapAction="http://tempuri.org/IService1/insertarJuegos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarenTablero">
      <soap:operation soapAction="http://tempuri.org/IService1/insertarenTablero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recorrerFila">
      <soap:operation soapAction="http://tempuri.org/IService1/recorrerFila" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recorrerCol">
      <soap:operation soapAction="http://tempuri.org/IService1/recorrerCol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="grafoMatriz">
      <soap:operation soapAction="http://tempuri.org/IService1/grafoMatriz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPieza">
      <soap:operation soapAction="http://tempuri.org/IService1/getPieza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertParametro">
      <soap:operation soapAction="http://tempuri.org/IService1/insertParametro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPJ">
      <soap:operation soapAction="http://tempuri.org/IService1/getPJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarenTableroD">
      <soap:operation soapAction="http://tempuri.org/IService1/insertarenTableroD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="grafoDestruct">
      <soap:operation soapAction="http://tempuri.org/IService1/grafoDestruct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="grafoUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/grafoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearMatriz">
      <soap:operation soapAction="http://tempuri.org/IService1/crearMatriz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMatriz">
      <soap:operation soapAction="http://tempuri.org/IService1/eliminarMatriz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearMatrizD">
      <soap:operation soapAction="http://tempuri.org/IService1/crearMatrizD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMatrizD">
      <soap:operation soapAction="http://tempuri.org/IService1/eliminarMatrizD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="matrizVacia">
      <soap:operation soapAction="http://tempuri.org/IService1/matrizVacia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArbolEspejo">
      <soap:operation soapAction="http://tempuri.org/IService1/ArbolEspejo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modNickO">
      <soap:operation soapAction="http://tempuri.org/IService1/modNickO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modDesp">
      <soap:operation soapAction="http://tempuri.org/IService1/modDesp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modSob">
      <soap:operation soapAction="http://tempuri.org/IService1/modSob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modDest">
      <soap:operation soapAction="http://tempuri.org/IService1/modDest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modgana">
      <soap:operation soapAction="http://tempuri.org/IService1/modgana" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarJuego">
      <soap:operation soapAction="http://tempuri.org/IService1/eliminarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="grafoTopWin">
      <soap:operation soapAction="http://tempuri.org/IService1/grafoTopWin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="grafoTopDest">
      <soap:operation soapAction="http://tempuri.org/IService1/grafoTopDest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPieza">
      <soap:operation soapAction="http://tempuri.org/IService1/eliminarPieza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarContacto">
      <soap:operation soapAction="http://tempuri.org/IService1/insertarContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="grafoContactos">
      <soap:operation soapAction="http://tempuri.org/IService1/grafoContactos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TablaDispersa">
      <soap:operation soapAction="http://tempuri.org/IService1/TablaDispersa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarHistoria">
      <soap:operation soapAction="http://tempuri.org/IService1/insertarHistoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary2/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>