proyecto_fase1/EDDPrueba/WebApplication1/Service References/webServicePrueba/WcfServiceLibrary2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Conectado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Juego">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desplegadas" type="xs:int" />
      <xs:element minOccurs="0" name="Destruidas" type="xs:int" />
      <xs:element minOccurs="0" name="Ganar" type="xs:boolean" />
      <xs:element minOccurs="0" name="NicknameO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sobrevivientes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Juego" nillable="true" type="tns:Juego" />
  <xs:complexType name="Pieza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alcance" type="xs:int" />
      <xs:element minOccurs="0" name="Danio" type="xs:float" />
      <xs:element minOccurs="0" name="Movimiento" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vida" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pieza" nillable="true" type="tns:Pieza" />
  <xs:complexType name="Parametros">
    <xs:sequence>
      <xs:element minOccurs="0" name="LimitX" type="xs:int" />
      <xs:element minOccurs="0" name="LimitY" type="xs:int" />
      <xs:element minOccurs="0" name="N1" type="xs:int" />
      <xs:element minOccurs="0" name="N2" type="xs:int" />
      <xs:element minOccurs="0" name="N3" type="xs:int" />
      <xs:element minOccurs="0" name="N4" type="xs:int" />
      <xs:element minOccurs="0" name="Tiempo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parametros" nillable="true" type="tns:Parametros" />
  <xs:complexType name="Movimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atacante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" type="xs:int" />
      <xs:element minOccurs="0" name="NickEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickReceptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumerodeAtaque" type="xs:int" />
      <xs:element minOccurs="0" name="Resultado" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoRestante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoUD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Y1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movimiento" nillable="true" type="tns:Movimiento" />
</xs:schema>